apache-beam==2.61.0
apache-flink==2.0.0
apache-flink-libraries==2.0.0
attrs==25.3.0
avro==1.12.0
boto3==1.38.0
botocore==1.38.0
certifi==2025.4.26
charset-normalizer==3.4.1
cloudpickle==2.2.1
crcmod==1.7
dill==0.3.1.1
dnspython==2.7.0
docopt==0.6.2
fastavro==1.10.0
fasteners==0.19
find_libpython==0.4.0
grpcio==1.65.5
hdfs==2.7.3
httplib2==0.22.0
idna==3.10
jmespath==1.0.1
jsonpickle==3.4.2
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
kafka-python==2.1.5
loguru==0.7.3
numpy==2.1.3
objsize==0.7.1
orjson==3.10.16
packaging==25.0
pandas==2.2.3
pemja==0.4.1
proto-plus==1.26.1
protobuf==5.29.4
py4j==0.10.9.7
pyarrow==16.1.0
pyarrow-hotfix==0.7
pydot==1.4.2
pymongo==4.12.0
pyparsing==3.2.3
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
redis==5.2.1
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
rpds-py==0.24.0
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
s3transfer==0.12.0
six==1.17.0
sortedcontainers==2.4.0
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
zstandard==0.23.0
